version: "3.7"

services:

  postgres:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always

  migrations:
    build:
      context: .
    environment:
      TREK_POSTGRES_HOST: postgres
      TREK_POSTGRES_PORT: 5432
      TREK_POSTGRES_USER: postgres
      TREK_POSTGRES_PASSWORD: postgres
      TREK_POSTGRES_DATABASE: postgres
      TREK_POSTGRES_SSLMODE: disable
      TREK_RESET_DATABASE: "true"
      TREK_INSERT_TEST_DATA: "true"
    volumes:
      - ./:/data
    depends_on:
      - postgres
    restart: on-failure

volumes:
  postgres-data:
