model_name: {{.model_name}}
db_name: {{.db_name}}
db_users:{{range .db_users}}
  - {{.}}{{end}}
templates:
  - path: dbversion/version.go
    content: |
      package dbversion

      // LatestVersion is the latest version for the db migrations.
      const LatestVersion = {{`{{.NewVersion}}`}}
